[run]
omit =
    django_deepface/management/commands/add_image_tree.py
    django_deepface/utils.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
